{% extends '/layouts/base.twig' %}
{% block title %}À propos{% endblock %}

{% block content %}
    <div class="flex flex-col gap-10">
        <div class="flex gap-5 flex-col">
            <p class="font-serif text-3xl font-semibold">Notre entreprise</p>
            <p class="font-serif text-justify">
                Expenergie est une entreprise spécialisée dans l'installation de systèmes photovoltaïques, offrant des solutions innovantes et durables pour la production d'énergie solaire. Forte de son expérience depuis 2009, elle se distingue par son expertise dans les installations de petite taille, adaptées aux besoins spécifiques des particuliers.<br>
                <br>En plus de l'installation de panneaux solaires, Expenergie propose également des solutions de stockage d'énergie, permettant ainsi d'optimiser l'autoconsommation d'électricité et de garantir une énergie verte, fiable et à long terme. Avec des partenariats solides avec des fournisseurs d'onduleurs renommés comme SMA Solar Technology et ABB, Expenergie s'engage à offrir des installations performantes et personnalisées pour contribuer à la transition énergétique.
            </p>
        </div>
        <div class="flex gap-5 flex-col">
            <p class="font-serif text-3xl font-semibold">Informations juridiques</p>
            <div>
                <p class="font-serif">Raison sociale : Expenergie</p>
                <p class="font-serif">Forme juridique : Société À Responsabilité Limitées (SARL)</p>
            </div>
        </div>
    </div>
{% endblock %}