{% extends '/layouts/base.twig' %}
{% block title %}À propos{% endblock %}

{% block content %}
    <div class="flex flex-col gap-5">
        <div class="flex gap-5 flex-col shadow-lg rounded-2xl p-4">
            <p class="font-serif text-3xl font-semibold">Notre entreprise</p>
            <p class="font-serif text-justify">
                Expenergie est une entreprise spécialisée dans l'installation de systèmes photovoltaïques, offrant des solutions innovantes et durables pour la production d'énergie solaire. Forte de son expérience depuis 2009, elle se distingue par son expertise dans les installations de petite taille, adaptées aux besoins spécifiques des particuliers.<br>
                <br>
                En plus de l'installation de panneaux solaires, Expenergie propose également des solutions de stockage d'énergie, permettant ainsi d'optimiser l'autoconsommation d'électricité et de garantir une énergie verte, fiable et à long terme. Avec des partenariats solides avec des fournisseurs d'onduleurs renommés comme SMA Solar Technology et ABB, Expenergie s'engage à offrir des installations performantes et personnalisées pour contribuer à la transition énergétique.<br>
            </p>
        </div>
        <div class="flex gap-5">
            <div class="flex gap-5 flex-col w-1/2 shadow-lg rounded-2xl p-4">
                <p class="font-serif text-3xl font-semibold">Informations juridiques</p>
                <div class="grid grid-cols-2 gap-3 font-serif">
                    <div class="col-span-1 font-semibold">
                        <p>Raison sociale :</p>
                        <p>Forme juridique :</p>
                        <p>Capital social :</p>
                        <p>Siège social :</p>
                        <p>SIRET :</p>
                        <p>Code APE :</p>
                        <p>Numéro RCS :</p>
                        <p>Numéro TVA :</p>
                    </div>
                    <div class="col-span-1">
                        <p>Expenergie</p>
                        <p>Société À Responsabilité Limitée (SARL)</p>
                        <p>7 500 €</p>
                        <p>Bias, 40170, France</p>
                        <p>517 644 886 00023</p>
                        <p>43.21A</p>
                        <p>517 644 886 00023 RCS Mont-de-Marsan</p>
                        <p>FR75 517 644 886</p>
                    </div>
                </div>
            </div>
            <div class="flex gap-5 flex-col w-1/2 shadow-lg rounded-2xl p-4 font-serif">
                <p class="text-3xl font-semibold">Mentions supplémentaires</p>
                <p>Tous les contenus présents sur ce site <span class="italic">(textes, images, vidéos)</span> sont protégés par le droit d'auteur et sont la propriété exclusive de Expenergie, sauf mention contraire.</p>
                <p>Conformément au Règlement Général sur la Protection des Données (<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees" class="redirect">RGPD</a>), nous garantissons qu'aucune donnée personnelle n'est collectée ou stockée via ce site.</p>
                <p>Ce site est la propriété d'Expenergie, conçu et développé par <a href="https://esteban-desessard.fr" class="redirect">Estéban DESESSARD.</a></p>
            </div>
        </div>
    </div>
{% endblock %}