{% extends '/layouts/base.twig' %}
{% block title %}Questions{% endblock %}

{% block content %}
    <div class="flex flex-col gap-5">
        <p class="font-serif text-3xl font-semibold">Les questions qui reviennent</p>
        <p class="font-serif text-justify">

        </p>
    </div>
{% endblock %}