{% extends 'layouts/base.twig' %}
{% block title %}Installations{% endblock %}

{% block content %}
    <div class="flex flex-col gap-5">
        <p class="font-serif text-3xl font-semibold">Installations effectuées</p>
        <p class="font-serif text-justify font-semibold text-xl">Vous avez du mal à projeter votre projet sur votre maison ?</p>
        <p class="font-serif text-justify">Retrouvez sur cette page des exemples d'études & installations effectuées par Expenergie auparavant.</p>
        <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-8 p-4">
            {% for installation in installations %}
                {% if installation.title != '' %}
                    <div class="col-span-1 shadow-lg rounded-2xl p-8 w-full">
                        <p class="font-serif font-semibold text-xl">{{ installation.title }}</p>
                        <div class="flex gap-2 items-center mt-3">
                            <img class="w-1/3 rounded-xl m-2" src="assets/img/${{ installation.pathImg }}" alt="">
                            <div class="flex flex-col gap-4">
                                <p class="font-serif text-justify">
                                    {{ installation.description }}
                                </p>
                            </div>
                        </div>
                        <p class="font-serif">
                            {{ installation.details }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}