{% extends '/layouts/base.twig' %}
{% block title %}Nos services{% endblock %}

{% block content %}
    <div class="flex flex-col gap-5">
        <p class="font-serif text-3xl font-semibold">Nos offres</p>
        <div class="grid grid-cols-2 gap-5">
            <div class="col-span-1 shadow-lg rounded-2xl p-4 flex flex-col gap-2">
                <p class="font-serif text-2xl font-semibold flex justify-center">Autoconsommation</p>
                <p class="font-serif text-justify">L'autoconsommation consiste à produire et consommer sa propre énergie produite par les panneaux photovoltaïques, en réduisant ainsi la dépendance au réseau électrique. Cette énergie peut être utilisée directement ou stockée pour une utilisation ultérieure.</p>
                <div class="flex mt-6 items-center">
                    <img src="/assets/img/solaredge_battery.png" alt="" class="w-1/3">
                    <div class="flex flex-col gap-2 w-2/3">
                        <p class="font-serif text-xl">Avec stockage</p>
                        <p class="font-serif text-justify">Stockez votre énergie afin de maximiser votre autonomie énergétique et profiter pleinement de l'électricité produite, même lorsque le soleil n'est pas au rendez-vous.</p>
                        <a href="/services/autoconsommation/avec-stockage" class="w-fit py-1 px-3 rounded-full border-blue-techno-base border-2 font-semibold text-blue-techno-base hover:bg-blue-techno-base hover:text-platinum-base ease-in-out transition-all duration-500 font-serif">Je découvre !</a>
                    </div>
                </div>
                <div class="flex items-center">
                    <img src="/assets/img/solar_panel.png" alt="" class="w-1/3 p-10">
                    <div class="flex flex-col gap-2 w-2/3">
                        <p class="font-serif text-xl">Sans stockage</p>
                        <p class="font-serif text-justify">Produisez et consommez directement votre énergie solaire en renvoyant le surplus sur le réseau électrique.</p>
                        <a href="/services/autoconsommation/avec-stockage" class="w-fit py-1 px-3 rounded-full border-blue-techno-base border-2 font-semibold text-blue-techno-base hover:bg-blue-techno-base hover:text-platinum-base ease-in-out transition-all duration-500 font-serif">Je découvre !</a>
                    </div>
                </div>
            </div>
            <div class="col-span-1 shadow-lg rounded-2xl p-4 flex flex-col gap-2">

            </div>
        </div>
    </div>
{% endblock %}