{% extends '/layouts/base.twig' %}
{% block title %}Nos services{% endblock %}

{% block content %}
    <div class="flex flex-col gap-5">
        <p class="font-serif text-3xl font-semibold">Nos offres</p>
        <p class="font-serif text-justify">
            Expenergie propose des solutions d'installation photovoltaïque sur mesure, adaptées à tous les besoins. Nous vous offrons des choix flexibles : avec ou sans stockage d'énergie, pour une autoconsommation optimale avec la revente du surplus de production. Grâce à l'autoconsommation, vous produisez et consommez directement l'énergie solaire générée par vos panneaux photovoltaïques, ce qui vous permet de réduire considérablement votre dépendance au réseau électrique. Cette solution est idéale pour ceux qui souhaitent maîtriser leur consommation d'énergie tout en faisant des économies sur leurs factures.<br>
            <br>
            L'installation de batteries vous permet de stocker l'excédent d'énergie afin de l'utiliser plus tard, notamment la nuit ou lors des coupures de courant. En revanche, pour une installation sans stockage, l'énergie excédentaire est envoyée directement sur le réseau électrique, contribuant ainsi à la transition énergétique tout en vous permettant de bénéficier d'un revenu de la revente de votre surplus.
        </p>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
            <div class="flex mt-6 items-center shadow-lg rounded-2xl p-4 col-span-1">
                <img src="/assets/img/solaredge_battery.png" alt="" class="w-1/3">
                <div class="flex flex-col gap-2 w-2/3">
                    <p class="font-serif text-xl">Avec stockage <span class="italic">(sur batterie physique)</span></p>
                    <p class="font-serif text-justify">Stockez votre énergie afin de maximiser votre autonomie énergétique et profiter pleinement de l'électricité produite, même lorsque le soleil n'est pas au rendez-vous.</p>
                    <div id="with-stockage" onclick="showModal(this)" class="w-fit py-1 px-3 rounded-full border-blue-techno-base border-2 font-semibold text-blue-techno-base hover:bg-blue-techno-base hover:text-platinum-base ease-in-out transition-all duration-500 font-serif hover:cursor-pointer">Je découvre !</div>
                </div>
            </div>
            <div class="flex mt-6 items-center shadow-lg rounded-2xl p-4 col-span-1">
                <img src="/assets/img/solar_panel.png" alt="" class="w-1/3 p-12">
                <div class="flex flex-col gap-2 w-2/3">
                    <p class="font-serif text-xl">Sans stockage</p>
                    <p class="font-serif text-justify">Produisez et consommez directement votre énergie solaire en renvoyant le surplus sur le réseau électrique.</p>
                    <div id="without-stockage" onclick="showModal(this)" class="w-fit py-1 px-3 rounded-full border-blue-techno-base border-2 font-semibold text-blue-techno-base hover:bg-blue-techno-base hover:text-platinum-base ease-in-out transition-all duration-500 font-serif hover:cursor-pointer">Je découvre !</div>
                </div>
            </div>
        </div>
    </div>

    <div onclick="closeModal()" id="modal-background" class="hidden opacity-70 fixed inset-0 bg-charcoal-base z-40 duration-1000 transition-all ease-in-out transform"></div>

    <div id="modal_with-stockage"
         class="modal hidden w-full sm:w-1/2 bg-platinum-base fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transition-all transform duration-500 p-5 rounded-2xl z-50 shadow-2xl">
        <div class="flex flex-col gap-5 my-5">
            <div class="font-serif text-2xl flex justify-center">
                Installation avec stockage
            </div>
            <p class="font-serif text-justify">
                <span class="font-semibold text-xl">Optimisez votre énergie grâce aux installations avec stockage !</span><br>
                <br>
                Grâce à une batterie performante associée à vos panneaux solaires photovoltaïques, vous pouvez désormais stocker l'énergie produite en journée pour l'utiliser selon vos besoins, même la nuit ou lors de périodes nuageuses. Ce système intelligent vous offre une autonomie énergétique renforcée, réduit considérablement votre dépendance au réseau électrique et maximise les économies sur vos factures. Idéal pour les particuliers comme pour les entreprises souhaitant conjuguer écologie et rentabilité. Découvrez dès maintenant comment nos solutions d'installation avec stockage s'adaptent à vos besoins pour un avenir plus durable.
            </p>
            <div class="flex m-2 items-center gap-2">
                <svg class="text-platinum-4 border-2" xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 24 24"><g fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M12 17v-6"/><circle cx="1" cy="1" r="1" fill="currentColor" transform="matrix(1 0 0 -1 11 9)"/><path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M7 3.338A9.95 9.95 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12c0-1.821.487-3.53 1.338-5"/></g></svg>
                <p class="italic text-platinum-4 font-serif">Pour plus d'informations, contactez-nous à l'adresse e-mail <a class="underline" href="mailto:sebastien.desessard@expenergie.fr">sebastien.desessard@expenergie.fr</a> ou par téléphone au <span class="underline">05.58.07.71.69</span></p>
            </div>
            <div class="flex gap-3 justify-end">
                <div onclick="closeModal()" class="rounded-2xl border-2 border-blue-techno-base py-1 px-3 font-serif text-blue-techno-base hover:cursor-pointer hover:bg-blue-techno-base hover:text-platinum-base ease-in-out transition-all duration-500">
                    Fermer
                </div>
            </div>
        </div>
    </div>

    <div id="modal_without-stockage"
         class="modal hidden w-full sm:w-1/2 bg-platinum-base fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transition-all transform duration-500 p-5 rounded-2xl z-50 shadow-2xl">
        <div class="flex flex-col gap-5 my-5">
            <div class="font-serif text-2xl flex justify-center">
                Installation sans stockage
            </div>
            <p class="font-serif text-justify">
                <span class="font-semibold text-xl">Profitez pleinement de l’énergie solaire et revendez les surplus !</span><br>
                <br>
                Les installations photovoltaïques sans stockage sont une solution idéale pour les consommateurs cherchant à réduire leur facture d’électricité tout en contribuant à la transition énergétique. Dans ce système, l’énergie solaire produite est directement injectée dans le réseau électrique ou consommée en temps réel. Cela permet d’alimenter vos appareils électriques durant la journée, lorsque le soleil brille, sans nécessiter de batteries pour le stockage. Cette approche présente un coût d’installation réduit par rapport aux solutions avec stockage, tout en garantissant une rentabilité optimisée grâce à l’autoconsommation et à la revente des surplus d’énergie. Faciles à mettre en place et à entretenir, les installations sans stockage conviennent parfaitement aux foyers dont les besoins en électricité coïncident avec les périodes d’ensoleillement.
            </p>
            <div class="flex m-2 items-center gap-2">
                <svg class="text-platinum-4 border-2" xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 24 24"><g fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M12 17v-6"/><circle cx="1" cy="1" r="1" fill="currentColor" transform="matrix(1 0 0 -1 11 9)"/><path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M7 3.338A9.95 9.95 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12c0-1.821.487-3.53 1.338-5"/></g></svg>
                <p class="italic text-platinum-4 font-serif">Pour plus d'informations, contactez-nous à l'adresse e-mail <a class="underline" href="mailto:sebastien.desessard@expenergie.fr">sebastien.desessard@expenergie.fr</a> ou par téléphone au <span class="underline">05.58.07.71.69</span></p>
            </div>
            <div class="flex gap-3 justify-end">
                <div onclick="closeModal()" class="rounded-2xl border-2 border-blue-techno-base py-1 px-3 font-serif text-blue-techno-base hover:cursor-pointer hover:bg-blue-techno-base hover:text-platinum-base ease-in-out transition-all duration-500">
                    Fermer
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/offres.js"></script>
{% endblock %}