{% extends '/layouts/base.twig' %}
{% block title %}Nos services{% endblock %}

{% block content %}
    <div class="flex flex-col gap-5">
        <p class="font-serif text-3xl font-semibold">Nos services</p>
        <p class="font-serif text-justify">
            Expenergie assure également un service après-vente (SAV) complet pour tous types d'installations photovoltaïques, qu'elles aient été réalisées par nous-mêmes ou par d'autres prestataires. Notre expertise nous permet d'intervenir efficacement pour la maintenance régulière de vos systèmes, garantissant ainsi un rendement optimal et une durée de vie prolongée de vos installations solaires.<br>
            <br>
            En cas de panne ou de dysfonctionnement, notre artisan qualifié se charge du dépannage afin de minimiser l'impact sur votre production d'énergie. Nous proposons aussi des solutions pour l'extension de votre installation existante afin d'augmenter sa capacité et répondre à vos nouveaux besoins énergétiques. Enfin, Expenergie est à votre service pour la reprise de chantier en cas d'installation inachevée ou défectueuse, assurant un travail de qualité et une mise en conformité optimale.<br>
            <br>
            Avec Expenergie, bénéficiez d'un accompagnement fiable et professionnel, pour que vos installations photovoltaïques restent performantes et durables dans le temps.
        </p>
    </div>
{% endblock %}