{% extends '/layouts/base.twig' %}
{% block title %}Nos services{% endblock %}

{% block content %}
    <div class="flex flex-col gap-5">
        <p class="font-serif text-3xl font-semibold">Nos services</p>
        <p class="font-serif text-justify">
            Expenergie assure également un service après-vente (SAV) complet pour tous types d'installations photovoltaïques, qu'elles aient été réalisées par nous-mêmes ou par d'autres prestataires. Notre expertise nous permet d'intervenir efficacement pour la maintenance régulière de vos systèmes, garantissant ainsi un rendement optimal et une durée de vie prolongée de vos installations solaires.<br>
            <br>
            En cas de panne ou de dysfonctionnement, notre artisan qualifié se charge du dépannage afin de minimiser l'impact sur votre production d'énergie. Nous proposons aussi des solutions pour l'extension de votre installation existante afin d'augmenter sa capacité et répondre à vos nouveaux besoins énergétiques. Enfin, Expenergie est à votre service pour la reprise de chantier en cas d'installation inachevée ou défectueuse, assurant un travail de qualité et une mise en conformité optimale.<br>
            <br>
            Avec Expenergie, bénéficiez d'un accompagnement fiable et professionnel, pour que vos installations photovoltaïques restent performantes et durables dans le temps.
        </p>
        <p class="font-serif text-xl mt-5 flex justify-center font-semibold">Les services que nous proposons :</p>
        <div class="flex gap-16 justify-center mt-4">
            <div class="flex flex-col gap-2 items-center">
                <div class="shadow-lg rounded-full flex justify-center w-fit">
                    <svg class="m-4 text-blue-techno-base" xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="m18.66 8.286l.368-.368c.342-.343.514-.514.617-.692a1.56 1.56 0 0 0 0-1.562c-.103-.178-.275-.35-.617-.692s-.514-.514-.692-.616a1.56 1.56 0 0 0-1.562 0c-.178.102-.35.274-.692.616l-.368.368m-4.419 10.31l-5.523 5.524c-.343.343-.514.514-.692.617a1.56 1.56 0 0 1-1.562 0c-.179-.103-.35-.274-.692-.617c-.343-.342-.514-.514-.617-.692a1.56 1.56 0 0 1 0-1.562c.103-.178.274-.35.617-.692l5.523-5.523M18 17.75c-.898.827-1.542 1.24-2.286 1.24c-1.079 0-1.947-.868-3.682-2.604l-4.42-4.419C5.878 10.233 5.01 9.365 5.01 8.286s.868-1.946 2.604-3.682S10.217 2 11.295 2c1.079 0 1.947.868 3.682 2.604l4.42 4.419C21.131 10.758 22 11.626 22 12.705c0 .747-.416 1.392-1.248 2.295"/></svg>
                </div>
                <p class="font-serif">Maintenance</p>
            </div>
            <div class="flex flex-col gap-2 items-center">
                <div class="shadow-lg rounded-full flex justify-center w-fit">
                    <svg class="m-4 text-blue-techno-base" xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M15.268 18.229c-1.98 2.678-2.969 4.017-3.892 3.734s-.923-1.925-.923-5.21v-.31c0-1.185 0-1.777-.379-2.148l-.02-.02c-.387-.363-1.003-.363-2.236-.363c-2.22 0-3.329 0-3.703-.673l-.019-.034c-.354-.683.289-1.552 1.574-3.29L8.732 5.77c1.979-2.678 2.969-4.017 3.892-3.734s.923 1.925.923 5.21v.31c0 1.185 0 1.777.379 2.148l.02.02c.387.363 1.003.363 2.236.363c2.22 0 3.329 0 3.704.673l.018.034c.354.683-.289 1.553-1.574 3.29"/></svg>
                </div>
                <p class="font-serif">Dépannage</p>
            </div>
            <div class="flex flex-col gap-2 items-center">
                <div class="shadow-lg rounded-full flex justify-center w-fit">
                    <svg class="m-4 text-blue-techno-base" xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12.828 6.001a3 3 0 1 0-5.658 0c-2.285.008-3.504.09-4.292.878S2.008 8.886 2 11.17a3 3 0 1 1 0 5.66c.008 2.284.09 3.503.878 4.291s2.007.87 4.291.878a3 3 0 1 1 5.66 0c2.284-.008 3.503-.09 4.291-.878s.87-2.007.878-4.292a3 3 0 1 0 0-5.658c-.008-2.285-.09-3.504-.878-4.292c-.788-.789-2.007-.87-4.292-.878" color="currentColor"/></svg>
                </div>
                <p class="font-serif">Extension</p>
            </div>
            <div class="flex flex-col gap-2 items-center">
                <div class="shadow-lg rounded-full flex justify-center w-fit">
                    <svg class="m-4 text-blue-techno-base" xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M21 7.162c0-1.043 0-1.565-.283-1.958s-.778-.558-1.768-.888l-1.165-.388c-1.367-.456-2.05-.684-2.739-.591c-.688.092-1.288.491-2.487 1.29l-1.382.922c-.936.624-1.404.936-1.93 1.06a3 3 0 0 1-.587.08c-.54.018-1.073-.16-2.14-.516c-1.398-.466-2.097-.699-2.629-.462a1.5 1.5 0 0 0-.497.358C3 6.5 3 7.236 3 8.71v4.065M21 11v4.29c0 1.474 0 2.211-.393 2.64a1.5 1.5 0 0 1-.497.36c-.532.236-1.231.003-2.629-.463c-1.067-.356-1.6-.534-2.14-.515a3 3 0 0 0-.588.078c-.525.125-.993.437-1.929 1.06l-1.382.922c-1.2.8-1.799 1.2-2.487 1.291c-.688.093-1.372-.135-2.739-.591l-1.165-.388c-.99-.33-1.485-.495-1.768-.888c-.268-.372-.282-.86-.283-1.796M15 3.5V7m0 10v-6m-6 9.5V17M9 7v6"/></svg>
                </div>
                <p class="font-serif text-center">Reprise de chantier</p>
            </div>
        </div>
    </div>
{% endblock %}