@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Urbanist - Police variable */
    @font-face {
        font-family: "Urbanist";
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
        src: url(/assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf) format('truetype-variations');
    }

    @font-face {
        font-family: "Urbanist";
        font-weight: 100 900;
        font-style: italic;
        font-display: swap;
        src: url(/assets/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf) format('truetype-variations');
    }

    /* Barlow Condensed */
    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 100;
        font-style: normal;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-Thin.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 200;
        font-style: normal;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 300;
        font-style: normal;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 800;
        font-style: normal;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-ExtraBold.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-Black.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 100;
        font-style: italic;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-ThinItalic.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 200;
        font-style: italic;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-ExtraLightItalic.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 300;
        font-style: italic;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-LightItalic.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 400;
        font-style: italic;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-Italic.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 500;
        font-style: italic;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-MediumItalic.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 600;
        font-style: italic;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-SemiBoldItalic.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 700;
        font-style: italic;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-BoldItalic.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 800;
        font-style: italic;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-ExtraBoldItalic.ttf) format('truetype');
    }

    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 900;
        font-style: italic;
        font-display: swap;
        src: url(/assets/fonts/Barlow_Condensed/BarlowCondensed-BlackItalic.ttf) format('truetype');
    }
}

.active {
    scale: 115%;
    margin: 4px;
    color: theme('colors.blue-techno.base');
}

.redirect {
    color: theme('colors.blue-techno.base');
    text-decoration: underline;
}

/* Désactiver les spinners pour les navigateurs basés sur WebKit */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Désactiver les spinners pour Firefox */
[type="number"] {
    -moz-appearance: textfield;
}

.invalid {
    border-color: theme('colors.red.500');
}

.valid {
    border-color: theme('colors.green.500');
}

.answer {
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.faq-question.expanded .answer {
    opacity: 1;
}

.faq-question.expanded .toggle-icon {
    transform: rotate(180deg);
}